# Training-specific dependencies
# Deep Learning Frameworks
torch==2.1.1
torchvision==0.16.1

# Model Libraries
timm==0.9.12
ultralytics==8.0.228
transformers==4.36.2

# Training Utilities
pillow==10.1.0
opencv-python-headless==4.8.1.78
albumentations==1.3.1
