# HuggingFace Service Dependencies
# Vision-Language Models, ViT, CLIP, etc.

# Deep Learning Framework
torch==2.1.1
torchvision==0.16.1

# Model Library
transformers==4.36.2

# Common
numpy<2.0
pillow==10.1.0
opencv-python-headless==4.8.1.78
